body{
    background-color:#26FF26
}

  p {
    color: #FF63FF;
  }
  a {
    color: #df4839;
  }
  a:hover {
    color:#26FF26;
    text-decoration: none;
  }
.gfdf{
  border: 5px  #26FF26;
}